@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

@import 'partials/colors';

// additional colors


// fonts
$primary-font: 'Merriweather',
serif;
$secondary-font: 'Open Sans',
sans-serif,
tahoma;

/* -------------------------------- 

xBackground 

-------------------------------- */

/* -------------------------------- 

xNavigation 

-------------------------------- */


/* -------------------------------- 

xPage title 

-------------------------------- */


/* -------------------------------- 

xTypography 

-------------------------------- */
.explanation {
    h3 {
      font-family: $primary-font;
      color: $col-green;
      text-align: left;
      margin-left: 0.8em;
    }
    p {
      font-family: $secondary-font;
      text-align: left;
      margin-left: 0.8em;
      color: $col-dark;
    }
}
.participation {
    h3 {
      font-family: $primary-font;
      color: $col-green;
      text-align: left;
      margin-left: 0.8em;
    }
    p {
      font-family: $secondary-font;
      text-align: left;
      margin-left: 0.8em;
      color: $col-dark;
    }
}
.benefits {
    h3 {
      font-family: $primary-font;
      color: $col-green;
      text-align: left;
      margin-left: 0.8em;
    }
    p {
      font-family: $secondary-font;
      text-align: left;
      margin-left: 0.8em;
      color: $col-dark;
    }
}
.requirements {
    h3 {
      font-family: $primary-font;
      color: $col-green;
      text-align: left;
      margin-left: 0.8em;
    }
    p {
      font-family: $secondary-font;
      text-align: left;
      margin-left: 0.8em;
      color: $col-dark;
    }
}
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    background-color: $col-green;
    color: $col-dark;
    border-radius: 10px;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    a {
      text-decoration: none;
    }
  }
  @media (min-width: $L) {
    .main{
      display: grid;
      grid-template-rows: min-content auto auto;
      grid-gap: 1.5rem;
      text-align: left;
    }
    footer{
      padding: 1rem;
    }

    footer a{
      font-size: 28px;
      line-height: 60px;
      transition: .6s;
      color: $col-dark;
      padding-top: 5px;
      position: relative;
      display: block;
      width: 90px;
      height: 60px;
      border-radius: 25%;
      background-color: $col-white;
      text-align: center;
      box-shadow: 0 5px 4px $col-dark;
    }
    footer a:hover{
      transform: translate(0, -10px);color: $col-white;
    }
  }

/* -------------------------------- 

xButtons 

-------------------------------- */



/* -------------------------------- 

xIcons 

-------------------------------- */



/* -------------------------------- 

xForm 

-------------------------------- */

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.intro h1,
h2 {
    font-family: $primary-font;
    color: $col-green;
    margin: 0 auto;
    text-align: center;
}

.summary {
    font-family: $secondary-font;
    color: $col-dark;
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
}

.preamble {
    h3 {
        font-family: $primary-font;
        color: $col-green;
        text-align: left;
        margin-left: 0.8em;
    }

    p {
        font-family: $secondary-font;
        font-size: 0.9rem;
        color: $col-dark;
        text-align: left;
        margin-left: 0.8em;
    }
}

@import 'partials/basic-style';