$col-dark: #363537;
$col-green: #0CCE6B;
$col-lime: #DCED31;
$col-red: #EF2D56;
$col-orange: #ED7D3A;
$col-white: #ffffff;
$col-mint: #AAEFDF;
$col-cyan: #CFFCFF;
$col-light-green: #9EE37D;
$col-kelly-green: #63C132;
$col-india-green: #358600;
$col-red-crayola: #FF0A54;
$col-french-rose: #FF477E;
$col-brink-pink: #FF5C8A;
$col-french-pink: #FF7096;
$col-pink-sherbet: #FF85A1;
$col-salmon-pink: #FF99AC;
$col-light-pink: #FBB1BD;
$col-pink: #F9BEC7;
$col-baby-pink: #F7CAD0;
$col-piggy-pink: #FAE0E4;