.intro {

    header {
        background-image: url("images/hibiscus_1867x1080.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 0% 0% 70% 70%;
        background-position-y: 35%;
    }

    header>h1 {
        font-family: $main-header-font;
        color: $col-red-crayola;
        font-size: 1.75rem;
        text-align: right;
        margin-right: 4rem;
    }

    header>h2 {
        font-family: $main-header-font;
        color: $col-red-crayola;
        font-size: 1.75rem;
        text-align: left;
    }
}

.summary {
    font-family: $secondary-font;
    color: $col-dark;
    margin: 0 auto;
    text-align: center;

    p {
        grid-column-start: 2;
        text-align: left;
    }
}