// breakpoints
$S: 767px;
$L: 768px;

// media queries
//Set background color for whole page

html {
  @media (min-width: $L) {
    background-color: $col-linen;
  }
}

body {

  background-color: $col-baby-pink;

  @media (min-width: $L) {
    max-width: 1200px;
    min-width: 900px;
    @include centerObj;
  }
}


///////////////////////////////////
//Page Wrapper
///////////////////////////////////
.page-wrapper {
  display: grid;
  grid-template: minmax(200px, auto) minmax(45px, auto) minmax(200px, auto) / 1fr;

  @media (min-width: $L) {
    display: grid;
    grid-template: minmax(200px, auto) minmax(200px, auto) / 3fr 1.5fr;
    justify-content: center;
    grid-gap: 1.5rem;
    max-width: 1200px;
    min-width: 900px;
    @include centerObj;
  }
}


///////////////////////////////////
//Intro
///////////////////////////////////
.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  header {
    // display: flex;
    // flex-direction: column;

    h1 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }
  }

  @media (min-width: $L) {
    grid-column: 1/3;
    grid-row: 1/2;

    header {
      display: grid;
      grid-template-columns: 1fr 400px 1fr;
      grid-template-rows: 150px;
    }

    header h1 {
      grid-column: 1;
    }

    header h2 {
      grid-column: 3;
    }
  }
}


///////////////////////////////////
//Summary
///////////////////////////////////
.summary {

  @media (min-width: $L) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px;
  }
}


///////////////////////////////////
//Preamble
///////////////////////////////////
.preamble {

  @media (min-width: $L) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px repeat(3, (75px auto));

    h3 {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    p {
      margin-left: 0.8em;
    }

    p:nth-child(2) {
      grid-column-start: 1;
      grid-row: 2 / 3;
    }

    p:nth-child(3) {
      grid-column-start: 1;
      grid-row: 3 / 4;
    }

    p:last-child {
      grid-column-start: 1;
      grid-row: 4 / 5;
    }
  }
}


///////////////////////////////////
//Main
///////////////////////////////////
.main {
  display: grid;
  grid-template: repeat(4, minmax(200px, auto)) / 1fr;
  grid-column: 1/2;
  grid-row: 3/4;

  @media (min-width: $L) {
    display: grid;
    grid-template: repeat(4, minmax(200px, auto)) 97px / 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    // grid-template-rows: min-content auto auto;
    grid-gap: 1.5rem;

  }
}


///////////////////////////////////
//Explanation
///////////////////////////////////
.explanation {
  grid-row: 1/2;
}


///////////////////////////////////
//Participation
///////////////////////////////////
.participation {
  grid-row: 2/3;
}


///////////////////////////////////
//Benefits
///////////////////////////////////
.benefits {
  grid-row: 3/4;
}


///////////////////////////////////
//Requirements
///////////////////////////////////
.requirements {
  grid-row: 4/5;
}


///////////////////////////////////
//Sidebar
///////////////////////////////////
.sidebar {
  grid-column: 1/2;
  grid-row: 2/3;

  @media (min-width: $L) {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 10%;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  nav ul li {
    display: block;
    text-decoration: none;
  }

  @media (min-width: $L) {
    display: block;
  }

}


///////////////////////////////////
//Footer
///////////////////////////////////
.main footer {

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (min-width: $L) {
    grid-row: 5/6;
  }

}