// breakpoints

$S: 640px;
$L: 641px;

// media queries

body {
  width: 100%;
  display: flexbox;

  @media (min-width: $L) {
    & {
      display: grid;
      max-width: 800px;
    }
  }
}

/*Nav rules */
nav {
  background-color: #FFCE8B;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: bold;
}

.sidebar {
  list-style: none;
  padding: 0;

  nav,
  ul,
  li,
  a {
    display: block;
    color: #051E2B;
    text-decoration: none;
    position: fixed;
    right: 0;
    top: 25%;
    width: 100%;
    margin-top: -2.5em;
  }

  li:first-child {
    display: block;
  }

  li {
    display: none;
  }

  a {
    padding: .75rem;
    text-decoration: none;
  }

  a:hover {
    background-color: #5D8BA3;
    color: #FFCE8B;
  }
}

// .sidebar {
//   list-style: none;
//   padding: 0;
// }

// .sidebar li:first-child {
//   display: block;
// }

// .sidebar li {
//   display: none;
// }

// .sidebar a {
//   display: block;
//   padding: .75rem;
//   text-decoration: none;
// }

// .sidebar a:hover {
//   background-color: #5D8BA3;
//   color: #FFCE8B;
// }

.navactive {
  color: #FFCE8B;
  background-color: #234E66;
}

.responsive li {
  display: block;
}

// aside.sidebar nav,
// ul,
// li,
// a {
//   display: block;
//   color: #051E2B;
//   text-decoration: none;
//   // position: fixed;
//   // right: 0;
//   // top: 25%;
//   // width: 100%;
//   // margin-top: -2.5em;
//   // display: block;

//   @media (min-width: $L) {
//     & {
//       float: right;
//       position: unset;
//     }
//   }
// }


div .main {
  padding: 8px 8px;
  font-size: larger;

  @media (min-width: $L) {
    & {
      padding: 5px 5px;
    }
  }
}