// breakpoints

$S: 640px;
$L: 641px;

// media queries

body {
  width: 100%;
  display: flexbox;

  @media (min-width: $L) {
    & {
      display: grid;
      max-width: 800px;
    }
  }
}

aside.sidebar {
  position: fixed;
  right: 0;
  top: 25%;
  width: 100%;
  margin-top: -2.5em;
  display: none;

  @media (min-width: $L) {
    & {
      float: right;
      position: unset;
    }
  }
}

div .main {
  padding: 8px 8px;
  font-size: larger;

  @media (min-width: $L) {
    & {
      padding: 5px 5px;
    }
  }
}