.sidebar {
    h3 {
        font-family: $nav-header-font;
        font-size: 1.0rem;
        color: $col-dark;
        padding: .75rem;
        margin-top: 0;
    }

    ul li {
        display: block;
        font-family: $secondary-font;
        padding: .75rem;
    }

    a {
        color: $col-dark;
    }

    @media (min-width: $L) {
        ul {
            margin-top: 0;
        }

        ul li {
            display: block;
            background-color: $col-mint;
        }
    }
}

.wrapper {
    background-color: $col-light-green;
    display: grid;
    grid-template: 1fr / .45fr .25fr .30fr;

    h3 {
        margin-bottom: 0;
    }

    ul {
        margin-top: 0;
        padding-left: 0;
    }

    a {
        float: left;
        text-align: left;
    }

    a.design-name {
        font-family: $secondary-font;
        color: $col-dark;
    }

    a.designer-name {
        font-family: $nav-designer-font;
        color: $col-dark;
    }

    a:hover {
        font-size: 1.2rem;
    }


    nav {
        position: absolute;
        display: none;
        background-color: $col-mint;
        z-index: 1;
    }

    h3:hover+nav {
        position: relative;
        display: block;
    }

    @media (min-width: $L) {
        background-color: unset;
        display: unset;

        h3 {
            background-color: $col-light-green;
            margin: 0 1rem 0 0;
        }

        a {
            padding: unset;
            float: unset;
        }

        nav {
            position: relative;
            display: block;
            background-color: transparent;
        }

        ul li {
            padding: unset;
        }

        nav ul li {
            margin: 0 1rem 0 2rem;
            padding-left: 5%;
        }
    }

    .design-selection {

        @media (min-width: $L) {
            a.designer-name {
                font-size: 1.0rem;
            }

            a.design-name {
                font-size: .95rem;
                margin-bottom: 3px;
            }

            a.design-name::after {
                content: "\A";
                white-space: pre;
            }

            a.designer-name:hover {
                font-size: 1.2rem;
            }

            a.design-name:hover {
                font-size: 1.1rem;
            }
        }
    }

    .design-archives {
        a {
            margin-bottom: 3px;
        }

        h3:hover+nav {
            padding-bottom: 5px;
        }
    }


    .zen-resources {
        ul {
            margin-bottom: 0;
            position: absolute;
            display: none;
            background-color: $col-mint;
            padding-bottom: 10px;
            ;
        }

        a {
            margin-bottom: 3px;
        }

        h3:hover+ul {
            position: relative;
            display: block;
        }

        @media (min-width: $L) {
            ul {
                position: relative;
                display: block;
                background-color: transparent;
            }

            ul li {
                margin: 0 1rem 0 2rem;
                padding-left: 5%;
            }
        }
    }
}