.sidebar {
    h3 {
        font-family: $nav-header-font;
        font-size: 1.0rem;
        background-color: $col-green;
        margin: 0 0;
        padding-bottom: 5px;
    }

    ul li {
        display: block;
        font-family: $secondary-font;
        background-color: $col-lime;
    }

    ul {
        padding-left: 10%;
        margin-top: 0;
    }
}

.design-selection {
    a {
        font-size: .1rem;
    }

    a.designer-name {
        font-family: $nav-designer-font;
        color: $col-dark;
        text-decoration: none;
        font-size: 1.0rem;
    }

    a.design-name {
        font-family: $secondary-font;
        color: $col-dark;
        text-decoration: none;
        font-size: .95rem;
        margin-bottom: 3px;
    }

    a.design-name::after {
        content: "\A";
        white-space: pre;
    }

    a.designer-name:hover {
        font-size: 1.2rem;
    }

    a.design-name:hover {
        font-size: 1.1rem;
    }
}

.design-archives {

    a {
        text-decoration: none;
        font-family: $secondary-font;
        color: $col-dark;
        font-size: .95rem;
        margin-bottom: 3px;
    }
}

.zen-resources {
    a {
        text-decoration: none;
        font-family: $secondary-font;
        color: $col-dark;
        font-size: .95rem;
        margin-bottom: 3px;
    }
}