.preamble {
    max-width: 85%;
    @include centerObj;

    h3 {
        margin-left: 0.8em;
        font-family: $header-font;
        color: $col-red-crayola;
    }

    p {
        margin-left: 0.8em;
    }

    @media (min-width: $L) {
        max-width: 65%;

    }
}