.preamble {
    max-width: 85%;
    margin: 0 auto;

    h3 {
        margin-left: 0.8em;
        font-family: $header-font;
        color: $col-red-crayola;
    }

    p {
        margin-left: 0.8em;
    }
}