@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto+Slab&family=Indie+Flower&family=Satisfy&display=swap');

$primary-font: 'Merriweather',
serif;

$secondary-font: 'Open Sans',
sans-serif,
tahoma;

$nav-header-font: 'Roboto Slab',
'calibri',
serif;

$nav-designer-font: 'Marck Script',
cursive;

$header-font: 'Indie Flower',
cursive;

$main-header-font: 'Satisfy',
cursive;